@layer reset, fonts, tokens, base, layout, components, utilities, responsive, states;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {

  body {
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    background-color: var(--clr-bg-default);
    color: var(--clr-txt-primary);
  }
}

@layer layout {

  /* CONTAINER */
  .container {
    --max-width: 69.375rem;
    --container-padding: var(--space-600);

    inline-size: min(100% - var(--container-padding), var(--max-width));
    margin-inline: auto;
  }
}

@layer components {


  /* HEADER */
  .header {
    --padding-block: var(--space-300);

    padding-block: var(--padding-block);
    background-color: var(--clr-bg-default);
    z-index: 20;

    position: relative;
  }

  .header__inner {
    --stack-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  /* HERO */
  .hero {
    --padding-end: var(--space-700);

    padding-block-end: var(--padding-end);
    overflow-x: clip;
  }

  .hero__inner {
    --gap: var(--space-600);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px 1fr;
    gap: var(--gap);
  }

  .hero__media {
    --inset-inline: -10vw;
    --inset-block: 0;

    grid-row: 1/2;
    align-self: end;

    position: relative;
  }

  .hero__media::before {
    content: '';
    position: absolute;
    inset-inline: var(--inset-inline);
    inset-block: var(--inset-block);
    background: url('./../assets/images/backgrounds/intro-mobile.svg') no-repeat;
    background-size: cover;
    background-position: center bottom;
    pointer-events: none;
    z-index: -1;
  }

  .hero__content {
    --stack-gap: var(--space-300);

    text-align: center;

    h1 {
      font-size: var(--fs-700);
      font-weight: var(--fw-light);
      letter-spacing: -0.0187em;
      line-height: 1.2;
    }

    p {
      font-size: var(--fs-400);
      letter-spacing: -0.0179em;
      line-height: 1.55;
      color: var(--clr-txt-secondary);
    }
  }

  .cta {
    --padding-block: var(--space-100);
    --padding-inline: var(--space-400);

    inline-size: max-content;
    margin-inline: auto;
    padding: var(--padding-block) var(--padding-inline);
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);
    color: var(--clr-txt-inverse);
    background: var(--gradient-cta);
    border-radius: 3em;
    line-height: 2;
  }

  /* MENU OVERLAY */
  .overlay {
    position: fixed;
    inset: 0;
    background: var(--gradient-overlay);
    z-index: 10;
  }

  .overlay[data-state="closed"] {
    pointer-events: none;
    opacity: 0;
  }

  .overlay[data-state="open"] {
    pointer-events: auto;
    opacity: 1;
  }

  /* MAIN MENU */
  .primary-nav {
    --max-width: 37.9375rem;
    --container-padding: var(--space-600);
    --padding-block: var(--space-400);
    --inline-position: 50%;
    --top-position: calc(var(--space-1000) + var(--space-100));

    inline-size: min(100% - var(--container-padding), var(--max-width));
    padding-block: var(--padding-block);
    background-color: var(--clr-bg-default);
    border-radius: 0.25rem;
    z-index: 30;
  }

  .primary-nav[data-state="closed"] {
    display: none;
  }

  .primary-nav[data-state="open"] {
    position: fixed;
    inset-block-start: var(--top-position);
    inset-inline-start: var(--inline-position);
    translate: -50% 0;
  }

  .primary-nav__list {
    --stack-direction: column;
    --stack-gap: var(--space-200);

    align-items: center;
    font-size: var(--fs-450);
  }

  /* BRAND */
  .brand {
    --max-width: 9.625rem;
    max-inline-size: var(--max-width);
  }

  .brand--light {
    --max-width: 9.5625rem;
  }

  /* TOGGLE MENU */
  .toggle-menu {
    inline-size: 2rem;
    block-size: 2rem;
    display: grid;
    place-items: center;
    background-color: transparent;
    border-radius: 50%;

    svg {
      block-size: 100%;
    }
  }
}

@layer utilities {
  .stack {
    display: flex;
    flex-direction: var(--stack-direction, column);
    gap: var(--stack-gap, 1rem);
  }
}

@layer responsive {}

@layer states {}